cosign.key
production.json
files/home-var-app/com.obsproject.Studio/config/obs-studio/plugin_config/advanced-scene-switcher/scripting/__pycache__/
files/home-var-app/com.obsproject.Studio/config/obs-studio/logs/
