[Unit]
Description=Stream Sprout video stream multiplexer

[Service]
Type=exec
Restart=always
ExecStart=/usr/bin/stream-sprout --config /etc/seagl/stream-sprout.yaml

[Install]
WantedBy=default.target
