{
	"_comment": "The authoritative copy of the production version of this file is the one checked into SeaGL/av-linux on GitHub.",
	"rtmpKeys": {
		"ajDevelopment": {
			"keysetDescription": "AJ development test keys",
			"Lyceum": "XXX"
		},
		"onsiteTest": {
			"keysetDescription": "On-site Thursday test",
			"Lyceum": "XXX"
		},
		"remoteSpeakerAvTest": {
			"keysetDescription": "Remote speaker Thursday night A/V test",
			"Lyceum": "XXX"
		},
		"production": {
			"keysetDescription": "Production YouTube streams - both days",
			"Lyceum": "XXX",
			"332": "XXX",
			"334": "XXX",
			"340": "XXX"
		}
	},
	"matrixCredentials": {
		"Lyceum": {
			"user": "XXX",
			"password": "XXX"
		},
		"332": {
			"user": "XXX",
			"password": "XXX"
		},
		"334": {
			"user": "XXX",
			"password": "XXX"
		},
		"340": {
			"user": "XXX",
			"password": "XXX"
		}
	},
	"nextcloudAppPassword": "XXX",
	"avTestResultsSheetURL": "XXX",
	"remoteSpeakerJitsiURLs": "XXX",
	"awsCreds": {
		"accessKey": "XXX",
		"secretAccessKey": "XXX"
	},
	"nextcloudUserPassword": "XXX"
}
