{
	"_comment": "The authoritative copy of the production version of this file is the one checked into SeaGL/av-linux on GitHub.",
	"configSets": {
		"GLOBAL_INHERIT": {
			"awsCreds": {
				"accessKey": "XXX",
				"secretAccessKey": "XXX"
			},
			"nextcloudAppPassword": "XXX",
			"avTestResultsSheetURL": "XXX",
			"remoteSpeakerJitsiURLs": "XXX",
			"nextcloudUserPassword": "XXX",
			"zrokKey": "XXX",
			"scheduleUrl": "https://pretalx.seagl.org/XXX/schedule/"
		},
		"ajDevelopment": {
			"_meta": {
				"description": "AJ development test keys"
			},
			"Virtual Test Room": {
				"youtubeRtmpKey": "XXX"
			}
		},
		"onsiteTest": {
			"_meta": {
				"description": "On-site Thursday test"
			},
			"On-site test room": {
				"youtubeRtmpKey": "XXX"
			}
		},
		"remoteSpeakerAvTest": {
			"_meta": {
				"description": "Remote speaker Thursday night A/V test"
			},
			"Lyceum": {
				"youtubeRtmpKey": "XXX"
			}
		},
		"production": {
			"_meta": {
				"description": "Production streams - both days"
			},
			"Lyceum": {
				"youtubeRtmpKey": "XXX",
				"peertubeRtmpKey": "XXX",
				"matrixCredentials": {
					"user": "XXX",
					"password": "XXX"
				}
			},
			"332": {
				"youtubeRtmpKey": "XXX",
				"peertubeRtmpKey": "XXX",
				"matrixCredentials": {
					"user": "XXX",
					"password": "XXX"
				}
			},
			"334": {
				"youtubeRtmpKey": "XXX",
				"peertubeRtmpKey": "XXX",
				"matrixCredentials": {
					"user": "XXX",
					"password": "XXX"
				}
			},
			"340": {
				"youtubeRtmpKey": "XXX",
				"peertubeRtmpKey": "XXX",
				"matrixCredentials": {
					"user": "XXX",
					"password": "XXX"
				}
			}
		}
	}
}
